
<ion-content class="card-background-page">


    <!-- <ion-grid  class="bg-img">
        <ion-row justify-content-center align-items-center style="height: 100%">
         <h5 style="text-align: center;">  Hello world!</h5>
        </ion-row>
      </ion-grid> -->


  <ion-card>
    <div class="overlay">
    <img src="../../assets/images/business-college-composition-desk-419635.jpg">
  </div>
    <div class="card-title">Welcome to Nod.</div>
    <div class="card-subtitle">We believe students deserve rewards for putting their best foot forward.</div>
    <div class="card-subtitle1">Ready to get started?</div>
    <ion-button expand="block" (click)="navToTabTwo()">Let's go!</ion-button>
  </ion-card>
  </ion-content>





<!-- <ion-header>

      <ion-title color ="tertiary">
        Welcome to Nod.
      </ion-title>


  </ion-header>
  
  <ion-content>
          <ion-title color="primary">
            We believe students deserve rewards for putting their best foot forward.
          </ion-title>
            <ion-title color="secondary">
              Ready to get started?
            </ion-title>
          <ion-button expand="block">Let's go!</ion-button>
  </ion-content>
   -->
